$mainColor: rgb(43, 239, 229);
$fontColor: rgb(0, 0, 0);
$linkColor: rgb(229, 229, 229);
$buttonAttrColor: rgb(33, 179, 172);
$headingColor: rgb(238, 138, 85);
$footerFontColor: rgb(255, 255, 255);
$mainFont: 'Bree Serif', serif;
$textFont: 'Open Sans', sans-serif;