@import 'reset';
@import 'grid';
@import 'variables';

/*main styles*/
.container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}

header, section, footer, .blue_stripe {
    width: 100%;
    height: auto;
    display: flex;
}

header, section {
    background-color: rgb(255, 255, 255);
}

section, footer {
    justify-content: center;
}

/*header styles*/
header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 0.1vw solid $linkColor;
    
    .blue_stripe {
        height: 1vw;
        background-color: $mainColor;
        align-self: flex-start;
    }
    .container {
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        position: relative;
        height:15vw;
        
        
        nav {
            width: 100%;
        }
        
        .logo {
            width: 13%;
            height: auto;
            position: absolute;
            align-self: center;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $textFont;
    font-size: 1.5vw;
    
    li {
        display: inline-block;
        
        
        a {
            text-decoration: none;
            color: $fontColor;
        }
        
        .clicked, :hover {
           border-bottom: 0.1vw solid $mainColor;
            padding-bottom: 2vw;
            color: $linkColor; 
        }
    }
}

/*main section styles*/
.main_info_place {
    border-bottom: 0.1vw solid $linkColor;
    .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vw;
    }
}
.main_message {
    h1 {
        font-family: $mainFont;
        font-size: 6.8vw;
    }
}

button {
    background: linear-gradient(rgb(43,242,232), $mainColor);
    border-style: none;
    border-color: $mainColor;
    border-width: 0;
    padding: 0;
/*settings to even out reset styles*/
    color: $buttonAttrColor;
    font-size: 1.5vw;
    font-family: $textFont;
    border-radius: 0.5vw;
    width: 25vw;
    height: 5.3vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0vw -0.3vw $buttonAttrColor;
    margin-bottom: 3vw;
    
    &:hover {
        box-shadow: inset 0 0.1vw 0.3vw 0 $buttonAttrColor;
        border: 0.1vw solid $buttonAttrColor;
        text-shadow: 0.05vw 0.05vw rgb(73, 247, 239);
    }
}

/*srticle section styles*/
.articles_place {
    border-bottom: 0.1vw solid $linkColor; 
    height: auto;
    .container {
        justify-content: space-between;
        padding-top: 2vw;
        padding-bottom: 2.5vw;
        
        article {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .article_box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                h3 {
                    color: $headingColor;
                    font-size: 3vw;
                    font-family: $mainFont;
                    margin-bottom: 2vw;
                }
            } 
        }
    }
}

.article_intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vw;
    
    .article_image {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3vw 0.3vw 0.3vw 0;
        
        img {
            width: 100%;
            height: auto;
            padding: 0.1vw;
            border: 0.05vw solid rgb(0, 0, 0);
        }
    }
    
    .article_idea {
        width: 70%;
        margin-left: 1.3vw;
    }
}

.article_text, .article_idea, .read_more {
    font-size: 1.11vw;
    line-height: 180%;
    font-family: $textFont;
    text-align: justify;
}

.article_text, .article_idea {
    text-align: justify;
}

.article_text {
    margin-bottom: 0.5vw;
}

.hide {
    display: none;
}
.read_more {
    color: $linkColor;
    text-align: right;
    cursor: pointer;
    
    :hover {
        color: $mainColor;
    }
}

/*form section styles*/
.form_place {
    padding-bottom: 2vw;
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        h2 {
            
            color: $mainColor;
            font-family: $mainFont;
            font-size: 5vw;
            margin-top: 2vw;
            margin-bottom: 3vw;
        }
        
        button {
            align-self: center;
            width: 49%;
            height: 4vw;
        }
    }
}

form {
    width: 100%;
    height: 15vw;
    display:flex;
    justify-content: space-between;
    margin-bottom: 2.5vw;
    
    .personal_info {
        width: 49%;
        height: 15vw;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        input {
            width: 100%;
            height: 4.5vw;
        }
    }
    
    textarea {
        width: 49%;
        height: inherit;
        padding-top: 1vw;
    }
    
    input, textarea {
        border-radius: 0.5vw;
        background-color: rgb(249, 249, 249);
        border-color: rgb(220, 220, 220);
        box-shadow: inset 0 0 0.5vw 0 rgb(220, 220, 220);
        border-style:solid;
        border-width: 0.1vw;
        font-size: 2vw;
        color: $fontColor;
        padding-left: 2vw;
        font-family: $textFont;
    }
}

/*placeholder styles*/

*::-webkit-input-placeholder {
    color: $linkColor;
    font-family: $textFont;
    
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: $linkColor;
    font-family: $textFont;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: $linkColor;
    font-family: $textFont;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: $linkColor;
    font-family: $textFont;
}

/*scroll top button styles*/
.top_button {
    .container {
        align-items: baseline;
        
        .go_back {
            background-color: rgb(0, 0, 0);
            width: 25vw;
            height: 2.5vw;
            border-top-left-radius: 0.5vw;
            border-top-right-radius: 0.5vw;
            margin-bottom: -0.1vw;
            font-family: $textFont;
            box-shadow: 0 -0.3vw rgb(220, 220, 220);
            font-size: 1vw;
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
                text-decoration: none;
                color: $footerFontColor;
            }
            
        }
    }
}

/*footer styles*/
footer {
    background-color: rgb(0, 0, 0);
    padding: 3vw 0 6vw 0;
    
    .container {
        justify-content: space-between;
        align-items: center;
    }
}

.footer_menu, .copyrights {
    width: 34.3%;
}

.footer_menu {
    ul {
        display: flex;
        flex-wrap: wrap;

            li {
                flex: 50%;
                font-family: $textFont;
                font-size:1.3vw;
                a {
                    text-decoration: none;
                    color: $footerFontColor;
                }
                
        }
        :nth-child(2), :nth-child(4) {
            text-align: right;
        }
        :nth-child(1), :nth-child(2) {
            margin-bottom:1vw;
        }
    }

}

.social {
    width: 16%;
    height: auto;
    display: flex;
    justify-content: space-between;
    
    .twitter, .facebook {
        background-color: $footerFontColor;
        height: 5vw;
        width: 5vw;
        border-radius: 50%;
        
        
        a {
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                height: auto;
            }
        }
    }
    
    .twitter {
        img {
            width: 50%;
        }
    }
    
    .facebook {
        img {
            width: 25%;
        }
    }
}

.copyrights {
    display: flex;
    justify-content: flex-end;
    
    p {
        font-size: 1.3vw;
        color: $footerFontColor;
        font-family: $textFont; 
    }
}











