@import 'reset';
@import 'grid';
@import 'variables';

.container {
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
}

header, section, footer, .blue_stripe {
    width: 100%;
    height: auto;
    display: flex;
}

header, section {
    background-color: rgb(255, 255, 255);
}

section, footer {
    justify-content: center;
}

header {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 0.1vw solid $linkColor;
    
    .blue_stripe {
        height: 1vw;
        background-color: $mainColor;
        align-self: flex-start;
    }
    .container {
        flex-direction: column;
        align-content: space-between;
        justify-content: center;
        position: relative;
        height:15vw;
        
        
        nav {
            width: 100%;
        }
        
        .logo {
            width: 13%;
            height: auto;
            position: absolute;
            align-self: center;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $textFont;
    font-size: 1.5vw;
    
    li {
        display: inline-block;
        
        a {
            text-decoration: none;
            color: $fontColor;
        }
    }
}

.main_info_place {
    border-bottom: 0.1vw solid $linkColor;
    .container {
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 30vw;
    }
}
.main_message {
    h1 {
        font-family: $mainFont;
        font-size: 6.8vw;
    }
}

button {
    background: linear-gradient(rgb(43,242,232), $mainColor);
    border-style: none;
    border-color: $mainColor;
    border-width: 0;
    padding: 0;
/*settings to even out reset styles*/
    color: $buttonAttrColor;
    font-size: 1.5vw;
    font-family: $textFont;
    border-radius: 0.5vw;
    width: 25vw;
    height: 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0vw 0.3vw $buttonAttrColor;
    margin-bottom: 3vw;
}
.articles_place {
    border-bottom: 0.1vw solid $linkColor; 
    .container {
        justify-content: space-between;
        padding-top: 2vw;
        padding-bottom: 2.5vw;
        
        article {
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            
            .article_box {
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                h3 {
                    color: $headingColor;
                    font-size: 3vw;
                    font-family: $mainFont;
                    margin-bottom: 2vw;
                }
            } 
        }
    }
}

.article_intro {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5vw;
    
    .article_image {
        width: 30%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0.3vw 0.3vw 0.3vw 0;
        
        img {
            width: 100%;
            height: auto;
            padding: 0.1vw;
            border: 0.05vw solid rgb(0, 0, 0);
        }
    }
    
    .article_idea {
        width: 70%;
        margin-left: 1.3vw;
    }
}

.article_text, .article_idea, .read_more {
    font-size: 1.11vw;
    line-height: 180%;
    font-family: $textFont;
    text-align: justify;
}

.article_text, .article_idea {
    text-align: justify;
}

.article_text {
    margin-bottom: 0.5vw;
}

.read_more {
    color: $linkColor;
    text-align: right;
    cursor: pointer;
}
footer {
    background-color: rgb(0, 0, 0);
}







